# Contents

importing libraries

Importing google drive

Importing the df from drive

Reviewing each column

Making that view into a .csv

Checking for distinct values

Dropping columns

Renaming columns

Looking for duplicate rows

In [3]:
#importing libraries
import pandas as pd
import numpy as np
import os

In [5]:
#Importing google drive#

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [7]:
#Importing the df from drive#

df = pd.read_csv('/content/drive/MyDrive/test_Matches_Data.csv')

In [8]:
df.head()

,TEST Match No,Match ID,Match Name,Series ID,Series Name,Match Start Date,Match End Date,Match Format,Team1 ID,Team1 Name,...,Umpire 2,Match Referee,Toss Winner,Toss Winner Choice,Match Winner,Match Result Text,MOM Player,Team1 Playing 11,Team2 Playing 11,Debut Players
0,2378,1183534,Australia Vs New Zealand 3Rd Test,1195334,ICC World Test Championship - 2019 (2019-2021),2020-01-03,2020-01-06,TEST,2,Australia,...,M Erasmus,RB Richardson,Australia,bat,Australia,Australia won by 279 runs,78285.0,"['48739', '54337', '78285', '50281', '49024', ...","['59148', '61839', '51094', '44930', '80639', ...",['80639']
1,2383,1212542,Zimbabwe Vs Sri Lanka 2Nd Test,1212540,Sri Lanka in Zimbabwe - 2020 (2019/20),2020-01-27,2020-01-31,TEST,9,Zimbabwe,...,Nitin Menon,J Srinath,Zimbabwe,bat,NaN,Match drawn,52319.0,"['49274', '49118', '62298', '47205', '45253', ...","['48988', '57982', '70888', '47023', '52371', ...",['55145']
2,2384,1213062,Pakistan Vs Bangladesh 1St Test,1195334,Bangladesh in Pakistan - 2020 (2019/20),2020-02-07,2020-02-10,TEST,25,Bangladesh,...,NJ Llong,RB Richardson,Pakistan,bowl,Pakistan,Pakistan won by an innings and 44 runs,103399.0,"['48391', '80555', '70872', '58225', '47352', ...","['49236', '48306', '11475', '56880', '53493', ...",['80555']
3,650,63035,Pakistan Vs England 3Rd Test,60425,England tour of Pakistan - 1969 (1968/69),1969-03-06,1969-03-10,TEST,1,England,...,Shujauddin,NaN,England,bat,NaN,Match drawn,NaN,"['1282', '1203', '895', '998', '1316', '1283',...","['1323', '931', '1105', '1237', '1065', '1239'...",['1329']
4,651,63037,New Zealand Vs West Indies 2Nd Test,60426,West Indies tour of New Zealand - 1969 (1968/69),1969-03-07,1969-03-11,TEST,4,West Indies,...,ECA MacKintosh,NaN,New Zealand,bowl,New Zealand,New Zealand won by 6 wickets,NaN,"['1322', '1202', '1129', '1084', '1286', '985'...","['1176', '1328', '1251', '1326', '1259', '1253...",[]

In [9]:
df.describe()

,TEST Match No,Match ID,Series ID,Team1 ID,Team1 Captain,Innings1 Team1 Runs Scored,Innings1 Team1 Wickets Fell,Innings1 Team1 Extras Rec,Innings2 Team1 Runs Scored,Innings2 Team1 Wickets Fell,Innings2 Team1 Extras Rec,Team2 ID,Team2 Captain,Innings1 Team2 Runs Scored,Innings1 Team2 Wickets Fell,Innings1 Team2 Extras Rec,Innings2 Team2 Runs Scored,Innings2 Team2 Wickets Fell,Innings2 Team2 Extras Rec,MOM Player
count,2537.00000,2.537000e+03,2.537000e+03,2537.000000,2537.000000,2537.000000,2537.000000,2537.000000,2207.000000,2207.000000,2207.000000,2537.000000,2537.000000,2519.000000,2519.000000,2519.0000,1971.000000,1971.000000,1971.000000,1633.000000
mean,1269.00000,2.858048e+05,2.821839e+05,4.647221,10472.013402,327.163973,9.488766,16.541585,239.732669,7.955143,14.330313,4.566023,10602.489160,313.855101,9.535133,17.8158,184.118721,6.559614,11.474378,19104.162890
std,732.51314,3.966273e+05,3.937401e+05,4.860323,18287.583902,136.509180,1.368576,9.875883,106.009353,2.919171,9.219402,5.040733,18439.509929,137.057188,1.408394,11.1943,101.145681,3.688488,8.844151,24691.796671
min,1.00000,6.238700e+04,6.026000e+04,1.000000,3.000000,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,3.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000,1215.000000
25%,635.00000,6.302100e+04,6.042200e+04,2.000000,1080.000000,224.000000,10.000000,9.000000,168.500000,6.000000,8.000000,2.000000,1081.000000,212.000000,10.000000,10.0000,110.000000,3.000000,5.000000,1934.000000
50%,1269.00000,6.365500e+04,6.060900e+04,4.000000,1765.000000,310.000000,10.000000,15.000000,233.000000,10.000000,13.000000,4.000000,1765.000000,296.000000,10.000000,16.0000,175.000000,8.000000,10.000000,4376.000000
75%,1903.00000,3.516810e+05,3.516100e+05,6.000000,7063.000000,424.000000,10.000000,22.000000,302.000000,10.000000,19.000000,6.000000,7568.000000,403.000000,10.000000,23.0000,249.000000,10.000000,16.000000,46933.000000
max,2537.00000,1.419831e+06,1.416069e+06,40.000000,79159.000000,903.000000,10.000000,64.000000,680.000000,10.000000,68.000000,140.000000,76625.000000,952.000000,10.000000,76.0000,657.000000,10.000000,61.000000,114592.000000

In [11]:
#A basic view of what's in each column

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2537 entries, 0 to 2536
Data columns (total 40 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   TEST Match No                2537 non-null   int64
 1   Match ID                     2537 non-null   int64
 2   Match Name                   2537 non-null   object
 3   Series ID                    2537 non-null   int64
 4   Series Name                  2537 non-null   object
 5   Match Start Date             2537 non-null   object
 6   Match End Date               2537 non-null   object
 7   Match Format                 2537 non-null   object
 8   Team1 ID                     2537 non-null   int64
 9   Team1 Name                   2537 non-null   object
 10  Team1 Captain                2537 non-null   int64
 11  Innings1 Team1 Runs Scored   2537 non-null   int64
 12  Innings1 Team1 Wickets Fell  2537 non-null   int64
 13  Innings1 Team1 Extras Rec    2537 non-null   int64
 14  Innings2 Team1 Runs Scored   2207 non-null   float64
 15  Innings2 Team1 Wickets Fell  2207 non-null   float64
 16  Innings2 Team1 Extras Rec    2207 non-null   float64
 17  Team2 ID                     2537 non-null   int64
 18  Team2 Name                   2537 non-null   object
 19  Team2 Captain                2537 non-null   int64
 20  Innings1 Team2 Runs Scored   2519 non-null   float64
 21  Innings1 Team2 Wickets Fell  2519 non-null   float64
 22  Innings1 Team2 Extras Rec    2519 non-null   float64
 23  Innings2 Team2 Runs Scored   1971 non-null   float64
 24  Innings2 Team2 Wickets Fell  1971 non-null   float64
 25  Innings2 Team2 Extras Rec    1971 non-null   float64
 26  Match Venue (Stadium)        2537 non-null   object
 27  Match Venue (City)           2537 non-null   object
 28  Match Venue (Country)        2537 non-null   object
 29  Umpire 1                     2536 non-null   object
 30  Umpire 2                     2536 non-null   object
 31  Match Referee                1361 non-null   object
 32  Toss Winner                  2537 non-null   object
 33  Toss Winner Choice           2537 non-null   object
 34  Match Winner                 1747 non-null   object
 35  Match Result Text            2537 non-null   object
 36  MOM Player                   1633 non-null   float64
 37  Team1 Playing 11             2537 non-null   object
 38  Team2 Playing 11             2537 non-null   object
 39  Debut Players                2537 non-null   object
dtypes: float64(10), int64(10), object(20)
memory usage: 792.9+ KB

In [12]:
#Making that basic view copy and paste able
#First define the data type in each columns

column_types = pd.DataFrame({
    'Column Name': df.columns,
    'Data Type': df.dtypes.astype(str).values
})

In [13]:
print(column_types)

                    Column Name Data Type
0                 TEST Match No     int64
1                      Match ID     int64
2                    Match Name    object
3                     Series ID     int64
4                   Series Name    object
5              Match Start Date    object
6                Match End Date    object
7                  Match Format    object
8                      Team1 ID     int64
9                    Team1 Name    object
10                Team1 Captain     int64
11   Innings1 Team1 Runs Scored     int64
12  Innings1 Team1 Wickets Fell     int64
13    Innings1 Team1 Extras Rec     int64
14   Innings2 Team1 Runs Scored   float64
15  Innings2 Team1 Wickets Fell   float64
16    Innings2 Team1 Extras Rec   float64
17                     Team2 ID     int64
18                   Team2 Name    object
19                Team2 Captain     int64
20   Innings1 Team2 Runs Scored   float64
21  Innings1 Team2 Wickets Fell   float64
22    Innings1 Team2 Extras Rec   float64
23   Innings2 Team2 Runs Scored   float64
24  Innings2 Team2 Wickets Fell   float64
25    Innings2 Team2 Extras Rec   float64
26        Match Venue (Stadium)    object
27           Match Venue (City)    object
28        Match Venue (Country)    object
29                     Umpire 1    object
30                     Umpire 2    object
31                Match Referee    object
32                  Toss Winner    object
33           Toss Winner Choice    object
34                 Match Winner    object
35            Match Result Text    object
36                   MOM Player   float64
37             Team1 Playing 11    object
38             Team2 Playing 11    object
39                Debut Players    object

In [14]:
# And then adding the count of non-null values

summary = pd.DataFrame({
    'Column Name': df.columns,
    'Data Type': df.dtypes.astype(str).values,
    'Non-Null Count': df.notnull().sum().values
})

In [15]:
print(summary)

                    Column Name Data Type  Non-Null Count
0                 TEST Match No     int64            2537
1                      Match ID     int64            2537
2                    Match Name    object            2537
3                     Series ID     int64            2537
4                   Series Name    object            2537
5              Match Start Date    object            2537
6                Match End Date    object            2537
7                  Match Format    object            2537
8                      Team1 ID     int64            2537
9                    Team1 Name    object            2537
10                Team1 Captain     int64            2537
11   Innings1 Team1 Runs Scored     int64            2537
12  Innings1 Team1 Wickets Fell     int64            2537
13    Innings1 Team1 Extras Rec     int64            2537
14   Innings2 Team1 Runs Scored   float64            2207
15  Innings2 Team1 Wickets Fell   float64            2207
16    Innings2 Team1 Extras Rec   float64            2207
17                     Team2 ID     int64            2537
18                   Team2 Name    object            2537
19                Team2 Captain     int64            2537
20   Innings1 Team2 Runs Scored   float64            2519
21  Innings1 Team2 Wickets Fell   float64            2519
22    Innings1 Team2 Extras Rec   float64            2519
23   Innings2 Team2 Runs Scored   float64            1971
24  Innings2 Team2 Wickets Fell   float64            1971
25    Innings2 Team2 Extras Rec   float64            1971
26        Match Venue (Stadium)    object            2537
27           Match Venue (City)    object            2537
28        Match Venue (Country)    object            2537
29                     Umpire 1    object            2536
30                     Umpire 2    object            2536
31                Match Referee    object            1361
32                  Toss Winner    object            2537
33           Toss Winner Choice    object            2537
34                 Match Winner    object            1747
35            Match Result Text    object            2537
36                   MOM Player   float64            1633
37             Team1 Playing 11    object            2537
38             Team2 Playing 11    object            2537
39                Debut Players    object            2537

In [16]:
#Producing a .csv

summary.to_csv('column_summary.csv', index=False)

In [18]:
#Checking MatchID is distinct values

df['MatchID'].nunique()

2537

In [19]:
#Dropping the columns we don't need

df.drop(columns = ['TEST Match No', 'Series ID', 'Series Name', 'Team1 ID', 'Team1 Captain', 'Team2 ID', 'Team2 Captain', 'Umpire 1', 'Umpire 2', 'Match Referee', 'MOM Player', 'Team1 Playing 11', 'Team2 Playing 11', 'Debut Players'], inplace = True)

In [20]:
#Checking that 14 coumns have been removed
df.shape

(2537, 26)

In [21]:
#Reviewing column names

df.columns

Index(['Match ID', 'Match Name', 'Match Start Date', 'Match End Date',
       'Match Format', 'Team1 Name', 'Innings1 Team1 Runs Scored',
       'Innings1 Team1 Wickets Fell', 'Innings1 Team1 Extras Rec',
       'Innings2 Team1 Runs Scored', 'Innings2 Team1 Wickets Fell',
       'Innings2 Team1 Extras Rec', 'Team2 Name', 'Innings1 Team2 Runs Scored',
       'Innings1 Team2 Wickets Fell', 'Innings1 Team2 Extras Rec',
       'Innings2 Team2 Runs Scored', 'Innings2 Team2 Wickets Fell',
       'Innings2 Team2 Extras Rec', 'Match Venue (Stadium)',
       'Match Venue (City)', 'Match Venue (Country)', 'Toss Winner',
       'Toss Winner Choice', 'Match Winner', 'Match Result Text'],
      dtype='object')

In [32]:
#Can tidy a lot of these up

df.rename(columns={
    'Match Start Date': 'Start Date',
    'Match End Date': 'End Date',
    'Match Format': 'Format',
    'Team1 Name': 'Team 1',
    'Team2 Name': 'Team 2',
    'Team1 Score': 'Team 1 Score',
    'Team2 Score': 'Team 2 Score',
    'Innings1 Team1 Runs Scored' : 'Innings 1 Team 1 Runs',
    'Innings1 Team1 Wickets Fell': 'Innings 1 Team 1 Wickets',
    'Innings1 Team1 Extras Rec':'Innings 1 Team 1 Extras',
    'Innings1 Team2 Runs Scored': 'Innings 1 Team 2 Runs',
    'Innings1 Team2 Wickets Fell': 'Innings 1 Team 2 Wickets',
    'Innings1 Team2 Extras Rec': 'Innings 1 Team 2 Extras',
    'Innings2 Team1 Runs Scored': 'Innings 2 Team 1 Runs',
    'Innings2 Team1 Wickets Fell': 'Innings 2 Team 1 Wickets',
    'Innings2 Team1 Extras Rec': 'Innings 2 Team 1 Extras',
    'Innings2 Team2 Runs Scored': 'Innings 2 Team 2 Runs',
    'Innings2 Team2 Wickets Fell': 'Innings 2 Team 2 Wickets',
    'Innings2 Team2 Extras Rec': 'Innings 2 Team 2 Extras',
    'Match Venue (Stadium)': 'Venue',
    'Match Venue (City)': 'City',
    'Match Venue (Country)': 'Country',
    'Match Winner': 'Winner',
    'Match Result Text': 'Result'
    }, inplace=True)

In [33]:
df.columns

Index(['Match ID', 'Match Name', 'Start Date', 'End Date', 'Format', 'Team 1',
       'Innings 1 Team 1 Runs', 'Innings 1 Team 1 Wickets',
       'Innings 1 Team 1 Extras', 'Innings 2 Team 1 Runs',
       'Innings 2 Team 1 Wickets', 'Innings 2 Team 1 Extras', 'Team 2',
       'Innings 1 Team 2 Runs', 'Innings 1 Team 2 Wickets',
       'Innings 1 Team 2 Extras', 'Innings 2 Team 2 Runs',
       'Innings 2 Team 2 Wickets', 'Innings 2 Team 2 Extras', 'Venue', 'City',
       'Country', 'Toss Winner', 'Toss Winner Choice', 'Winner', 'Result'],
      dtype='object')

In [38]:
#Looking for duplicate rows


## looking for rows that have identical data

df_dups = df[df.duplicated()]

In [39]:
df_dups

Empty DataFrame
Columns: [Match ID, Match Name, Start Date, End Date, Format, Team 1, Innings 1 Team 1 Runs, Innings 1 Team 1 Wickets, Innings 1 Team 1 Extras, Innings 2 Team 1 Runs, Innings 2 Team 1 Wickets, Innings 2 Team 1 Extras, Team 2, Innings 1 Team 2 Runs, Innings 1 Team 2 Wickets, Innings 1 Team 2 Extras, Innings 2 Team 2 Runs, Innings 2 Team 2 Wickets, Innings 2 Team 2 Extras, Venue, City, Country, Toss Winner, Toss Winner Choice, Winner, Result]
Index: []

[0 rows x 26 columns]

No duplicated rows

In [40]:
#Producing a .csv of cleaned and amended df

df.to_csv('df_clean.csv', index=False)